* {
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.line_clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line_clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.header {
  position: relative;
  height: 100vh;
  background-color: #e6f0ff;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  background: var(--primary-color);
  color: #ffff;
}

.btn:hover {
  opacity: 0.8;
}

.navbar {
  padding-top: 38px;
  display: flex;
  align-items: center;
}

.navbar > ul {
  display: flex;
  margin-left: 50px;
}

.action {
  margin-left: auto;
}

.navbar ul a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4f5361;
  padding: 8px 14px;
}

.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
}

.navbar .action-btn {
  border-radius: 8px;
  padding: 13px 16px;
  margin-left: 18px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero .title {
  margin-top: 8px;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.22;
  color: #000336;
}

.hero .desc {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  color: #5a6473;
}

.hero_cta {
  min-width: 170px;
}

.hero_img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}

/* client */

.clients {
  margin-top: 79px;
  padding: 43px 0 64px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .row_desc {
  margin-top: 23px;
}

.clients .desc,
.all_star {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  color: #7d8589;
}

.clients .images {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  padding: 0 10px;
}

.clients .images img:nth-child(3) {
  background-color: #ffff;
  box-shadow: 0px 10px 20px 0px #0000001a;
  border-radius: 12px;
  padding: 18px;
}
/* guides */

.guides {
  margin-top: 40px;
  padding: 79px 0 79px;
}

.guides .sub_title {
  position: relative;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #000339;
}

.guides .sub_title::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 12px;
  opacity: 0px;
  background-color: #000339;
}

.guides .desc {
  width: 495px;
  max-width: 100%;
  margin: 20px auto 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  color: #5a6473;
}

.guidelines {
  width: 685px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0;
  text-align: center;
}

.guidelines p {
  margin: 26px 0 10px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

.guidelines .link {
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #0689ff;
}

.guidelines .arrow {
  position: absolute;
  margin-left: 6px;
  top: -2px;
}

.guides_cta {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.btn_guides {
  padding: 18px 20px;
  margin: 0 auto;
}

/* feature properties */
.featured {
  margin-top: 41px;
  height: 727px;
  background-color: #f5fafe;
}

.featured .content {
  padding-top: 100px;
}

.featured .title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #000339;
}

.featured .desc {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.featured .desc p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9;
  text-align: left;
  color: #5a6473;
}

.featured .link {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #0689ff;
}

.featured .arrow {
  position: absolute;
  margin-left: 6px;
  top: 1px;
}

.featured .item {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
}

/* .featured .item_info {
  text-align: center;
} */
.featured .item_info {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 65px 80px -46px #9fbcd799;
  width: 350px;
  min-height: 357px;
  border-radius: 12px;
  /* flex: 1; */
}

.featured .item .title {
  margin: 17px 0 0 10px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000339;
}

.featured .item .desc {
  --line_clamp: 3;
  margin: 11px 0 18px 10px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  word-break: break-all;
  color: #a3a6ab;
}

.featured .info {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
}

.featured .info a {
  padding: 0 11px;
}

/* Stats */

.stats {
  margin-top: 75px;
  padding: 50px 0 50px;
}

.stats .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats .content {
  width: 1048px;
}

.stats .img_block {
  position: relative;
  width: 50%;
}

.stats .img_block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .info {
  width: 50%;
  padding: 79px 0 0 165px;
}

.stats .info .title {
  position: relative;
  width: 269px;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.3;
  color: #000339;
}

.stats .info .title::before {
  position: absolute;
  content: "";
  display: block;
  width: 41px;
  height: 4px;
  left: 0;
  top: -10px;
  border-radius: 12px;
  background: #000339;
}

.stats .info .desc {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9;
  color: #5a6473;
}

.trend {
  width: 239px;
  padding: 45px 22px 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
}

.stats .value {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #000339;
}

.stats .desc {
  margin-top: 8px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7d8589;
}

.stats .icon {
  height: 16px;
  width: 25px;
}
.stats .separate {
  margin: 25px 0;
  height: 1.2px;
  background: #e9e9e9;
}
.stats .avatar_block {
  display: flex;
  flex-wrap: wrap;
  gap: 14px 16px;
}

.stats .avatar_group {
  display: flex;
}

.stats .avatar {
  width: 16px;
  height: 16px;
  margin-left: -3px;
  border-radius: 50%;
  object-fit: cover;
}

.stats .row_quantity {
  margin-top: 110px;
}

.stats .quantity_item .quantity {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1;
  color: #000339;
}

.stats .quantity_item .quantity_desc {
  margin-top: 24px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1, 5;
  color: #7d8589;
}

/* .subcription */

.bg_subcription {
  margin-top: 51px;
  background-color: #fff;
  border-radius: 20px;
}

.subcription .body {
  position: relative;
  margin-bottom: 55px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #063183;
  height: 370px;
  border-radius: 20px;
}

.subcription .info {
  width: 671px;
  max-width: 100%;
  padding: 0 80px;
}

.subcription .sub_title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
}

.subcription .desc {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9;
  color: #fff;
}

.subcription .btn_sub {
  min-width: 151px;
  color: #002366;
  padding: 18px 40px;
  background-color: #fff;
  margin-top: 20px;
}

.subcription .img_sub {
  position: absolute;
  bottom: 0;
  right: 220px;
}

/* .footer */

.footer .item_footer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.footer .sub_title {
  margin-bottom: 42px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #1c1c1d;
}

.footer .contact_get {
  width: 257px;
  max-width: 100%;
}

.footer .desc,
.footer .contact li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7a7a7e;
}

.footer .contact li {
  margin-top: 18px;
}

.footer .bg_icon {
  margin-top: 40px;
  margin-right: 16px;
  display: inline-block;
  width: 28.47px;
  height: 28.47px;
  background-color: #f9f9f9;
  text-align: center;
}
.footer .icon_net {
  width: 10.82px;
  height: 9px;
}

.footer .end_foodter {
  padding-bottom: 58px;
  margin-top: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .copyright {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c2c2c2;
}
